@font-face {
  font-family: "MyFont";
  src: url("fonts/barlow/Barlow-Bold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("fonts/barlow/Barlow-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("fonts/barlow/Barlow-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("fonts/barlow/Barlow-Medium.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("fonts/barlow/Barlow-Thin.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
body {
  color: #2a4a5c;
  font-family: "Myfont";
  display: flex;
  background-color: #eff6ff;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main {
  display: flex;
  margin-top: 50px;
  max-width: 1050px;
  min-width: 970px;
  height: fit-content;
  background-color: white;
  gap: 50px;
  box-sizing: border-box;
}

.leftside {
  flex: 1;
  position: relative;
  min-width: 450px;
}
.bglogo {
  position: absolute;
  width: 80px;
  top: 15px;
  left: 15px;
}
.bgpic {
  width: 100%;
  max-width: 490px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rightside {
  flex: 1;
  padding: 60px 40px 40px 0px;
  font-size: 18px;
}
p {
  font-size: 14px;
}
.register {
  margin-top: 30px;
  display: flex;

  gap: 20px;
}
.register button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  border: none;
  max-width: 165px;
  height: 30px;
  cursor: pointer;
}
.fb {
  flex: 1;
  font-size: 10px;
  color: white;
  background-color: #255a9b;
}
.register img {
  max-width: 12px;
  margin-right: 12px;
  text-align: start;
}
.li {
  flex: 1;
  font-size: 10px;
  background-color: #0076b6;
  color: white;
  text-align: left;
}
.or {
  width: 50%;
  font-size: 9px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 78px;
  margin-right: 78px;
  display: flex;
  color: #666;
  align-items: center;
}
.or::before,
.or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #666;
  opacity: 25%;
}
.or::before {
  margin-right: 10px;
}
.or::after {
  margin-left: 10px;
}

.databig {
  display: flex;
  height: 45px;
  gap: 10px;
}
.data {
  position: relative;
  display: flex;
}
.data label {
  position: absolute;
  top: 0;
  left: 7px;
  font-size: 12px;
  color: #7b8a92;
}
input:focus {
  border-color: inherit;
  border-left: 4px solid #3698fb;
}
.data input {
  padding: 7px;
}
h3 {
  margin-top: 50px;
}

.choose {
  font-weight: bolder;
  margin-top: 45px;
  display: flex;
  align-items: center;
}
.choose label {
  display: flex;
  align-items: center;
}
.choose img {
  width: 10px;
  margin-left: 5px;
  margin-right: 20px;
}
.podskazka {
  color: #7b8a92;
  justify-content: start;
  padding: 10px;
  margin: 30px 20px 60px 10px;
  width: 200px;
  box-shadow: 10px 10px 20px #eeeeee;
  font-size: 12px;
}
.terms {
  font-size: 14px;
  color: #7b8a92;
}
.create {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #3698fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
