body {
  display: flex;
  background-color: #eff6ff;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  margin-top: 5%;
  width: 80%;
  background-color: white;
}

.leftside {
  flex: 1;
  position: relative;
}
.bglogo {
  position: absolute;
  width: 25%;
  top: 5%;
  left: 5%;
}
.bgpic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.rightside {
  flex: 1;
}
